body{
    font-family: sans-serif ;
    background-color: azure;
    text-align: center;
    font-weight: bold;

}
.Start{
    background-color: chocolate;
    font-size: 20px;
    padding: 10px;
    border: black 3px solid;


}
.Start:hover {
    background-color: cornflowerblue;
    border-radius: 20px;
}
.Second{
    background-color: darkblue;
}